<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="FileComparer" Language="1033" Version="1.0.0.0" Manufacturer="co-It.eu GmbH" UpgradeCode="e292283a-362d-4ee4-a433-ef567b94dfdf">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes"  />
		<Feature Id="ProductFeature" Title="FileComparer" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="ApplicationShortcut" />
      <ComponentRef Id="ApplicationShortcutDesktop" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">

      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="FileComparer">
          <Component Id="ApplicationShortcut" Guid="9F880E45-3688-4482-B31C-39B826AA4CB1">
            <Shortcut Id="ApplicationStartMenuShortcut"
                      Name="FileComparer"
                      Description="Compares Files"
                      Target="[INSTALLFOLDER]FileComparer.exe"
                      WorkingDirectory="APPLICATIONROOTDIRECTORY"/>
            <RemoveFolder Id="CleanUpShortCut" Directory="ApplicationProgramsFolder" On="uninstall"/>
            <RegistryValue Root="HKCU" Key="Software\Microsoft\FileComparer" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
          </Component>
        </Directory>
      </Directory>

      <Directory Id="DesktopFolder" Name="Desktop">
        <Component Id="ApplicationShortcutDesktop" Guid="*">
          <Shortcut Id="ApplicationDesktopShortcut"
              Name="FileComparer"
              Description="Compares Files"
              Target="[INSTALLFOLDER]FileComparer.exe"
              WorkingDirectory="INSTALLFOLDER"/>
          <RemoveFolder Id="DesktopFolder" On="uninstall"/>
          <RegistryValue
              Root="HKCU"
              Key="Software/FileComparer"
              Name="installed"
              Type="integer"
              Value="1"
              KeyPath="yes"/>
        </Component>
      </Directory>

      <Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="FileComparer" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			 <Component Id="ProductComponent">
         <File Source="$(var.FileComparer.TargetPath)" />
			 </Component> 
		</ComponentGroup>
	</Fragment>
</Wix>
